.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Activity-Log {
  width: 0.931640625em;
}

.icon-Activity {
  width: 0.779296875em;
}

.icon-Adaptive-Application-Control {
  width: 1.0908203125em;
}

.icon-Adaptive-Network-Hardening {
  width: 0.9892578125em;
}

.icon-ADFS-Proxy {
  width: 0.6064453125em;
}

.icon-ADFS {
  width: 0.6396484375em;
}

.icon-Advisor {
  width: 1.0224609375em;
}

.icon-Alert {
  width: 1.072265625em;
}

.icon-Analysis-Service {
  width: 1.1279296875em;
}

.icon-API-Management-Service {
  width: 1.0478515625em;
}

.icon-Application-Configuration {
  width: 0.833984375em;
}

.icon-Application-Insights {
  width: 0.865234375em;
}

.icon-Application-Security-Group {
  width: 0.9091796875em;
}

.icon-Application-Service-Certificate {
  width: 1.046875em;
}

.icon-Application-Service-Domain {
  width: 1.099609375em;
}

.icon-Archive-Storage {
  width: 0.7763671875em;
}

.icon-ARM-Template {
  width: 0.6787109375em;
}

.icon-Azure-Active-Directory-Authentication-Method {
  width: 1.0234375em;
}

.icon-Azure-Active-Directory-B2B {
  width: 0.7763671875em;
}

.icon-Azure-Active-Directory-B2C {
  width: 0.7763671875em;
}

.icon-Azure-Active-Directory-Connect-Health {
  width: 1.0234375em;
}

.icon-Azure-Active-Directory-Domain-Services {
  width: 1.0478515625em;
}

.icon-Azure-Active-Directory-Group {
  width: 1.1005859375em;
}

.icon-Azure-Active-Directory-Identity-Protection {
  width: 0.9775390625em;
}

.icon-Azure-Active-Directory-Identity-Secure-Score {
  width: 0.77734375em;
}

.icon-Azure-Active-Directory-Privileged-Identity-Management {
  width: 0.830078125em;
}

.icon-Azure-Active-Directory-Risk-Detection {
  width: 0.8056640625em;
}

.icon-Azure-Active-Directory-Risky-Sign-In {
  width: 0.75em;
}

.icon-Azure-Active-Directory-Risky-User {
  width: 0.75em;
}

.icon-Azure-Active-Directory-Security {
  width: 0.9091796875em;
}

.icon-Azure-Active-Directory-User {
  width: 0.955078125em;
}

.icon-Azure-Active-Directory {
  width: 1.0478515625em;
}

.icon-Azure-Advisor {
  width: 0.7763671875em;
}

.icon-Azure-API-For-FHIR {
  width: 0.833984375em;
}

.icon-Azure-Arc-Machine {
  width: 0.830078125em;
}

.icon-Azure-Arc-Service {
  width: 1.0859375em;
}

.icon-Azure-Artifact {
  width: 0.75em;
}

.icon-Azure-Attestation {
  width: 0.609375em;
}

.icon-Azure-Automation-Runbook {
  width: 0.677734375em;
}

.icon-Azure-Batch-Account {
  width: 0.75em;
}

.icon-Azure-Batch {
  width: 0.75em;
}

.icon-Azure-Best-Practices {
  width: 1.0478515625em;
}

.icon-Azure-Blueprint {
  width: 0.75em;
}

.icon-Azure-Board {
  width: 0.75em;
}

.icon-Azure-Cache-For-Redis {
  width: 1.099609375em;
}

.icon-Azure-Cosmos-DB {
  width: 1.0068359375em;
}

.icon-Azure-Data-Explorer-Cluster {
  width: 0.8056640625em;
}

.icon-Azure-Database-For-Mariadb {
  width: 0.88671875em;
}

.icon-Azure-Database-For-Mysql {
  width: 0.88671875em;
}

.icon-Azure-Database-For-Postgresql {
  width: 0.88671875em;
}

.icon-Azure-Database-Migration-Service {
  width: 0.9775390625em;
}

.icon-Azure-Databricks {
  width: 0.958984375em;
}

.icon-Azure-Dev-Ops {
  width: 0.75em;
}

.icon-Azure-Front-Door {
  width: 1.0478515625em;
}

.icon-Azure-Information-Protection {
  width: 0.609375em;
}

.icon-Azure-Lighthouse-Management {
  width: 0.8056640625em;
}

.icon-Azure-Lighthouse-My-Audit-History {
  width: 0.7763671875em;
}

.icon-Azure-Lighthouse-My-Customers {
  width: 1.1005859375em;
}

.icon-Azure-Lighthouse-My-Permission {
  width: 0.955078125em;
}

.icon-Azure-Lighthouse-My-Request {
  width: 0.7470703125em;
}

.icon-Azure-Lighthouse-My-Role {
  width: 0.833984375em;
}

.icon-Azure-Lighthouse-Projection {
  width: 0.869140625em;
}

.icon-Azure-Lighthouse-Protection {
  width: 0.75em;
}

.icon-Azure-Lighthouse-RBAC {
  width: 0.75em;
}

.icon-Azure-Lighthouse-Service-Provider {
  width: 0.75em;
}

.icon-Azure-Lighthouse {
  width: 0.9345703125em;
}

.icon-Azure-Maps-Account {
  width: 0.75em;
}

.icon-Azure-Monitor-Private-Link-Scope {
  width: 0.8388671875em;
}

.icon-Azure-Multifactor-Authentication {
  width: 0.8955078125em;
}

.icon-Azure-Netapp-Files {
  width: 1.099609375em;
}

.icon-Azure-Pipelines {
  width: 0.75em;
}

.icon-Azure-Repo {
  width: 0.64453125em;
}

.icon-Azure-Role-Based-Access-Control {
  width: 0.75em;
}

.icon-Azure-Spring-Cloud {
  width: 0.8701171875em;
}

.icon-Azure-Stack-Backup {
  width: 0.609375em;
}

.icon-Azure-Stack-Capacity {
  width: 0.609375em;
}

.icon-Azure-Stack-Edge-Management {
  width: 0.75em;
}

.icon-Azure-Stack-Plan {
  width: 0.9208984375em;
}

.icon-Azure-Stack-Update {
  width: 0.75em;
}

.icon-Azure-Synapse-Analytics {
  width: 0.931640625em;
}

.icon-Azure-Test-Plan {
  width: 0.8056640625em;
}

.icon-Azure {
  width: 0.9052734375em;
}

.icon-Bastion {
  width: 0.8330078125em;
}

.icon-Batch-AI {
  width: 0.66015625em;
}

.icon-Blockchain-ABS-Member {
  width: 0.9375em;
}

.icon-Blockchain-Application {
  width: 0.8818359375em;
}

.icon-Blockchain-Connection {
  width: 1.0498046875em;
}

.icon-Blockchain-Consortium {
  width: 0.75em;
}

.icon-Blockchain-Data-Manager {
  width: 1.0732421875em;
}

.icon-Blockchain-Devkit {
  width: 0.75em;
}

.icon-Blockchain-Streaming {
  width: 0.869140625em;
}

.icon-Blockchain-Token {
  width: 0.9365234375em;
}

.icon-Blueprint {
  width: 0.859375em;
}

.icon-Budget {
  width: 0.796875em;
}

.icon-Citrix-Virtual-Desktop-Essentials {
  width: 0.75em;
}

.icon-Client-App {
  width: 0.8369140625em;
}

.icon-Cloud-Service-Classic {
  width: 0.9140625em;
}

.icon-Cloud-Simple-Service {
  width: 0.75em;
}

.icon-Cloud-Simple-Virtual-Machine {
  width: 0.9453125em;
}

.icon-Cognitive-Services-Search {
  width: 0.75em;
}

.icon-Company-Branding {
  width: 0.7763671875em;
}

.icon-Compliance {
  width: 0.91796875em;
}

.icon-Compute--App {
  width: 0.9111328125em;
}

.icon-Configuration-Management {
  width: 0.7763671875em;
}

.icon-Configuration {
  width: 1.0439453125em;
}

.icon-Connection-Monitor {
  width: 0.833984375em;
}

.icon-Container-Batch-Account {
  width: 1.0234375em;
}

.icon-Container-Instance {
  width: 0.9765625em;
}

.icon-Container-Kubernetes-Service {
  width: 1.0498046875em;
}

.icon-Container-Registry {
  width: 1.076171875em;
}

.icon-Container-Service-Fabric-Cluster {
  width: 1.0234375em;
}

.icon-Controller {
  width: 0.8857421875em;
}

.icon-CORS {
  width: 1.00390625em;
}

.icon-Cost-Alert {
  width: 0.833984375em;
}

.icon-Cost-Analysis {
  width: 0.7783203125em;
}

.icon-Cost-Management-And-Billing {
  width: 0.712890625em;
}

.icon-Cost-Management {
  width: 0.7763671875em;
}

.icon-Cost {
  width: 1.0703125em;
}

.icon-Data-And-Storage {
  width: 0.8232421875em;
}

.icon-Data-Box {
  width: 1.0244140625em;
}

.icon-Data-Catalog {
  width: 0.9560546875em;
}

.icon-Data-Lake-Analytics {
  width: 0.75390625em;
}

.icon-Data-Lake-Storage-Gen1 {
  width: 1.099609375em;
}

.icon-Data-Lake {
  width: 0.5751953125em;
}

.icon-Data-Share-Invitation {
  width: 1.12109375em;
}

.icon-Data-Share {
  width: 1.083984375em;
}

.icon-Data-Transfer {
  width: 0.859375em;
}

.icon-Database-Migration-Service {
  width: 0.712890625em;
}

.icon-Ddos-Protection-Plan {
  width: 0.9091796875em;
}

.icon-DDOS-Protection {
  width: 0.6884765625em;
}

.icon-Deployment {
  width: 0.859375em;
}

.icon-Devops-Project {
  width: 0.8701171875em;
}

.icon-Devtest-Lab {
  width: 0.833984375em;
}

.icon-Diagnostics-Setting {
  width: 0.931640625em;
}

.icon-Ebook {
  width: 0.9140625em;
}

.icon-Education {
  width: 0.869140625em;
}

.icon-Event-Grid-Domain {
  width: 1.0478515625em;
}

.icon-Event-Grid-Subscription {
  width: 1.0478515625em;
}

.icon-Event-Grid-Topic {
  width: 1.0478515625em;
}

.icon-Event-Hub-Cluster {
  width: 1.099609375em;
}

.icon-Event-Hub {
  width: 1.0478515625em;
}

.icon-Event {
  width: 0.6884765625em;
}

.icon-Export-Template {
  width: 0.8857421875em;
}

.icon-Expressroute-Circuit {
  width: 1.0478515625em;
}

.icon-Expressroute-Connection {
  width: 0.75em;
}

.icon-Expressroute-Filter {
  width: 0.8056640625em;
}

.icon-Extended-Security-Updates {
  width: 0.9541015625em;
}

.icon-Extension {
  width: 0.755859375em;
}

.icon-File-Integrity-Monitoring {
  width: 0.8427734375em;
}

.icon-Firewall-Manager {
  width: 1.1015625em;
}

.icon-Firewall-Policy {
  width: 1.1416015625em;
}

.icon-Firewall {
  width: 1.0732421875em;
}

.icon-Free-Services {
  width: 0.8037109375em;
}

.icon-Function-App {
  width: 1.056640625em;
}

.icon-Genomics-Account {
  width: 0.5126953125em;
}

.icon-Help-And-Support {
  width: 0.9091796875em;
}

.icon-High-Availability {
  width: 0.947265625em;
}

.icon-Host-Group {
  width: 0.75em;
}

.icon-Host {
  width: 0.75em;
}

.icon-HPC-Cache {
  width: 1.0478515625em;
}

.icon-Hunting {
  width: 0.9111328125em;
}

.icon-Identity-And-Access {
  width: 0.9111328125em;
}

.icon-Identity-Governance {
  width: 0.8125em;
}

.icon-Import-Export-Job {
  width: 0.9775390625em;
}

.icon-Incident {
  width: 0.955078125em;
}

.icon-Integration-Account {
  width: 0.833984375em;
}

.icon-Integration-Service-Environment {
  width: 0.833984375em;
}

.icon-Intune-App-Protection {
  width: 1.05078125em;
}

.icon-Intune-Device-Compliance {
  width: 0.95703125em;
}

.icon-Intune-Device-Configuration {
  width: 0.75em;
}

.icon-Intune-Device-Enrolment {
  width: 1.0498046875em;
}

.icon-Intune-Device {
  width: 1.0498046875em;
}

.icon-Intune-Exchange-Access {
  width: 0.9375em;
}

.icon-Intune-Exchange-On-Premises-Access {
  width: 0.5751953125em;
}

.icon-Intune-Managed-Desktop {
  width: 0.8359375em;
}

.icon-Intune-Security-Baseline {
  width: 0.75em;
}

.icon-Intune-Software-Update {
  width: 0.869140625em;
}

.icon-Intune-Tenant-Status {
  width: 0.75em;
}

.icon-Intune {
  width: 1.0478515625em;
}

.icon-Iot-Central {
  width: 0.609375em;
}

.icon-Iot-Device-Provisioning-Service {
  width: 0.712890625em;
}

.icon-Iot-Digital-Twin {
  width: 0.7763671875em;
}

.icon-Iot-Hub-Security {
  width: 0.837890625em;
}

.icon-Iot-Solution-Accelerator {
  width: 0.765625em;
}

.icon-Iot-Sphere {
  width: 0.6787109375em;
}

.icon-Iot-Windows-10-Core {
  width: 0.998046875em;
}

.icon-IP-Group {
  width: 1.099609375em;
}

.icon-Java {
  width: 0.671875em;
}

.icon-Key-Vault-HSM {
  width: 0.865234375em;
}

.icon-Key-Vault {
  width: 0.9951171875em;
}

.icon-Lab-Service {
  width: 1.0234375em;
}

.icon-License {
  width: 0.7001953125em;
}

.icon-Local-Network-Gateway {
  width: 0.833984375em;
}

.icon-Logic-App {
  width: 1.1259765625em;
}

.icon-Machine-Learning-Studio {
  width: 0.9970703125em;
}

.icon-Machine-Learning {
  width: 0.978515625em;
}

.icon-Maintenance-Configuration {
  width: 1.021484375em;
}

.icon-Managed-Application-Center {
  width: 0.86328125em;
}

.icon-Managed-Application {
  width: 0.7998046875em;
}

.icon-Managed-Database {
  width: 1.0234375em;
}

.icon-Managed-Disk-Premium-SSD {
  width: 0.8359375em;
}

.icon-Managed-Disk-Snapshot {
  width: 0.9775390625em;
}

.icon-Managed-Disk-Standard-HDD {
  width: 0.8359375em;
}

.icon-Managed-Disk-Standard-SSD {
  width: 0.8359375em;
}

.icon-Managed-Disk-Ultra-SSD {
  width: 0.8359375em;
}

.icon-Management-Certificate {
  width: 1.046875em;
}

.icon-Management-Group {
  width: 0.9443359375em;
}

.icon-Marketplace {
  width: 0.931640625em;
}

.icon-Metric {
  width: 0.9638671875em;
}

.icon-Microsoft-Account {
  width: 0.75em;
}

.icon-Mobile-Application {
  width: 0.708984375em;
}

.icon-Mobility-MDM-And-MAM {
  width: 0.984375em;
}

.icon-Network-Interface {
  width: 1.0478515625em;
}

.icon-Network-Security-Group-Classic {
  width: 0.6884765625em;
}

.icon-Network-Security-Group {
  width: 0.9091796875em;
}

.icon-Networking {
  width: 0.8232421875em;
}

.icon-Node-JS {
  width: 1.046875em;
}

.icon-Notification-Hub {
  width: 1.0732421875em;
}

.icon-On-Premises-Data-Gateway {
  width: 1.0234375em;
}

.icon-Open-Dataset {
  width: 0.8056640625em;
}

.icon-Openshift-Cluster {
  width: 0.712890625em;
}

.icon-Operational-Excellence {
  width: 0.84375em;
}

.icon-Organisational-Relationship {
  width: 0.9541015625em;
}

.icon-Peering-Service {
  width: 0.833984375em;
}

.icon-Performance-Diagnostics {
  width: 0.84375em;
}

.icon-Performance {
  width: 0.9580078125em;
}

.icon-Playbooks {
  width: 0.9443359375em;
}

.icon-Policy {
  width: 0.978515625em;
}

.icon-Power-BI-Embedded {
  width: 0.8701171875em;
}

.icon-Power-BI {
  width: 0.9384765625em;
}

.icon-Powershell {
  width: 0.900390625em;
}

.icon-Private-DNS-Zone {
  width: 0.830078125em;
}

.icon-Private-Endpoint {
  width: 0.880859375em;
}

.icon-Private-Link {
  width: 0.859375em;
}

.icon-Property {
  width: 0.7470703125em;
}

.icon-Proximity-Placement-Group {
  width: 1.0234375em;
}

.icon-Public-IP-Address {
  width: 1.099609375em;
}

.icon-Public-IP-Prefix {
  width: 1.099609375em;
}

.icon-Python {
  width: 0.7939453125em;
}

.icon-Quickstart-Center {
  width: 0.75em;
}

.icon-Recovery-Services-Vault {
  width: 1.0732421875em;
}

.icon-Regulatory-Compliance {
  width: 0.9248046875em;
}

.icon-Relay {
  width: 1.0478515625em;
}

.icon-Reserved-IP-Address-Classic {
  width: 0.9140625em;
}

.icon-Resource-Explorer {
  width: 0.8857421875em;
}

.icon-Resource-Graph-Explorer {
  width: 0.833984375em;
}

.icon-Resource-Group {
  width: 1.0224609375em;
}

.icon-Resource-Health {
  width: 1.0205078125em;
}

.icon-REST {
  width: 0.75em;
}

.icon-Review-Access {
  width: 0.7470703125em;
}

.icon-Role {
  width: 0.75em;
}

.icon-Rollout {
  width: 0.88671875em;
}

.icon-Route-Table {
  width: 1.0234375em;
}

.icon-Run-Command {
  width: 0.8857421875em;
}

.icon-SAP-HANA-On-Azure {
  width: 1.177734375em;
}

.icon-Scheduler-Job-Collection {
  width: 0.9169921875em;
}

.icon-Secure-Score {
  width: 0.775390625em;
}

.icon-Security-Baseline {
  width: 0.95703125em;
}

.icon-Security-Center {
  width: 0.6884765625em;
}

.icon-Security-Detonation-Chamber {
  width: 0.9970703125em;
}

.icon-Sendgrid-Account {
  width: 0.75em;
}

.icon-Sentinel {
  width: 0.859375em;
}

.icon-Service-Bus {
  width: 1.0478515625em;
}

.icon-Service-Catalog-Managed-Application-Definition {
  width: 0.8056640625em;
}

.icon-Service-Endpoint-Policy {
  width: 0.982421875em;
}

.icon-Service-Endpoint {
  width: 0.8046875em;
}

.icon-Service-Health {
  width: 1.0205078125em;
}

.icon-Sign-In {
  width: 0.7998046875em;
}

.icon-Signalr {
  width: 0.833984375em;
}

.icon-Software-As-A-Service {
  width: 0.869140625em;
}

.icon-Spatial-Anchors-Account {
  width: 0.8056640625em;
}

.icon-SQL-Database-Edge {
  width: 0.818359375em;
}

.icon-SQL-Database {
  width: 0.88671875em;
}

.icon-SQL-Elastic-Job-Agent {
  width: 0.6787109375em;
}

.icon-SQL-Server-Registry {
  width: 1.0478515625em;
}

.icon-Storage-Account-Classic {
  width: 1.099609375em;
}

.icon-Storage-Account-Container {
  width: 0.9140625em;
}

.icon-Storage-Account-Table {
  width: 0.9140625em;
}

.icon-Storage-Account {
  width: 1.099609375em;
}

.icon-Storage-Explorer {
  width: 0.9267578125em;
}

.icon-Storage-Sync-Service {
  width: 0.8359375em;
}

.icon-Storsimple-Data-Manager {
  width: 0.892578125em;
}

.icon-Storsimple-Device-Manager {
  width: 1.0478515625em;
}

.icon-Stream-Analytics-Job {
  width: 0.869140625em;
}

.icon-Subscription {
  width: 0.818359375em;
}

.icon-Tags {
  width: 0.7470703125em;
}

.icon-Template {
  width: 0.7763671875em;
}

.icon-Tenant-Status {
  width: 0.7763671875em;
}

.icon-Terraform {
  width: 0.6787109375em;
}

.icon-Time-Series-Insights-Reference-Data-Set {
  width: 0.8828125em;
}

.icon-Universal-Print-Service {
  width: 1.07421875em;
}

.icon-Update-Management {
  width: 0.8857421875em;
}

.icon-Usage-And-Quota {
  width: 0.9140625em;
}

.icon-User-Privacy {
  width: 0.9775390625em;
}

.icon-Virtual-Assistant {
  width: 0.8857421875em;
}

.icon-Virtual-Cluster {
  width: 1.0234375em;
}

.icon-Virtual-Machine-Classic {
  width: 1.0478515625em;
}

.icon-Virtual-Machine-Image-Classic {
  width: 1.0478515625em;
}

.icon-Virtual-Machine-Image-Version {
  width: 1.0234375em;
}

.icon-Virtual-Machine-Image {
  width: 1.0478515625em;
}

.icon-Virtual-Machine-Linux {
  width: 1.0478515625em;
}

.icon-Virtual-Machine-Non-Azure-Linux {
  width: 1.0478515625em;
}

.icon-Virtual-Machine-Non-Azure-Windows {
  width: 1.0478515625em;
}

.icon-Virtual-Machine-Non-Azure {
  width: 1.0478515625em;
}

.icon-Virtual-Machine-SQL {
  width: 1.0234375em;
}

.icon-Virtual-Machine-Windows {
  width: 1.0478515625em;
}

.icon-Virtual-Machine {
  width: 1.0478515625em;
}

.icon-Virtual-Network-Classic {
  width: 1.1279296875em;
}

.icon-Virtual-Network-Firewall {
  width: 0.83203125em;
}

.icon-Virtual-Network-Gateway {
  width: 0.88671875em;
}

.icon-Virtual-Network-Peering {
  width: 0.94140625em;
}

.icon-Virtual-Subnet {
  width: 1.1279296875em;
}

.icon-Virtual-WAN-Gateway {
  width: 1.017578125em;
}

.icon-Virtual-WAN {
  width: 0.9970703125em;
}

.icon-Visual-Studio-Code {
  width: 0.8017578125em;
}

.icon-Visual-Studio {
  width: 0.8017578125em;
}

.icon-WAF-Policy {
  width: 0.9931640625em;
}

.icon-Work-Account {
  width: 0.75em;
}

.icon-Workbook {
  width: 0.8056640625em;
}
